.button.eliminar,
.button.eliminar:hover {
    background-color: transparent;
    color: #333;
    border-color: #888;
    margin-top: none;
    
    display: inline-block;
    height: 38px;
    padding: 0 30px;

    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
    
}

.cita {
    padding: 2rem;
    background: white;
    border-bottom: 1px solid #e1e1e1;
    color: black;
    margin-bottom: 5px;
}

.cita p {
    font-weight: bold;
    margin-bottom: .8rem;
  }

  .cita p span {
    font-weight: normal;

  }

  .cita:first-of-type {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .cita:last-of-type {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }